@import 'compass';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,300,200';

$source-sans : 'Source Sans Pro', sans-serif;
$white : #ffffff;
$magenta : #d61b51;

.settings_page_gravitate_blocks {
	.wrap {
		&.grav-blocks {
			margin: 0;
			h1 {
				background-color: $magenta;
				color: $white;
				padding: 16px 20px;
				text-transform: uppercase;
			    font-weight: 700;
			    font-size: 22px;
			    font-family: $source-sans;
				img {
					max-width: 96px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 5px;
				}
				+ h4 {
					margin-left: 20px;
				}
			}
			header {
				margin: 0 -20px;
			}
		}
	}
}