@import 'compass';
@import 'sass-includes/mixins';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,300,200';

$source-sans : 'Open Sans', sans-serif;
$white : #ffffff;
$magenta : #d61b51;
$gray-dark : #333333;
$gray-light : #999999;
$gray-lighter : #dedede;
$gray-lightest : #F9F9F9;
$wp-media-query : 783px;


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible; background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background: white; padding: 2rem; border: 1px solid $gray-light; }
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#000;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px;
        	//background:url(../images/controls.png) no-repeat 0 0;
        	background: none;
        }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{
        	right:44px;
        	&:after {
        		@include transition(opacity .3s ease-in-out);
        		content: '';
        		opacity: .5;
        		display: block;
        		position: absolute;
        		width: 0; height: 0;
        		border-right: 10px solid #1B1714;
        		border-top: 5px solid transparent;
        		border-bottom: 5px solid transparent;
        		top: 1px; bottom: 0; left: 0; right: 0;
    			margin: auto;
        	}
        	&:hover {
				&:after { opacity: 1; }
        	}
        }
        #cboxNext{
        	//background-position:-25px 0px; right:22px;
        	right: 22px;
        	&:after {
        		@include transition(opacity .3s ease-in-out);
        		content: '';
        		opacity: .5;
        		display: block;
        		position: absolute;
        		width: 0; height: 0;
        		border-left: 10px solid #1B1714;
        		border-top: 5px solid transparent;
        		border-bottom: 5px solid transparent;
        		top: 1px; bottom: 0; left: 0; right: 0;
    			margin: auto;
        	}
        	&:hover {
				&:after { opacity: 1; }
        	}
        }
        #cboxClose{
        	right:0;
        	overflow: hidden;
        	&:after,
        	&:before {
        		@include transition(opacity .3s ease-in-out);
        		@include transform(rotate(45deg));
        		content: 'X';
        		opacity: .5;
        		width: 14px; height: 2px;
        		background: #1B1714;
        		display: block;
        		position: absolute;
        		top: 1px; bottom: 0; left: 0; right: 0;
    			margin: auto;
    			border-radius: 5px;
        	}
        	&:before {
				@include transform(rotate(-45deg));
        	}
        	&:hover {
        		&:after,
        		&:before {
					opacity: 1;
        		}
        	}
        }

.settings_page_gravitate_blocks {
	.wrap {
		* {
			-webkit-font-smoothing: antialiased;
		}
		.grav-plugin-settings-type-checkbox {
			label {
				min-height: 1.75rem;
			}
		}
		label {
			[class*='gravicon']{
				font-family: $source-sans !important;
				font-size: .875rem;
				&:before {
					font-family: 'grav-blocks' !important;
					font-size: 1.675rem;
				    display: inline-block;
				    vertical-align: middle;
				    margin-top: -.375rem;
				    margin-right: .5rem;
				    margin-left: .25rem;
				    color: $gray-light;
				}
			}
			// input[type=checkbox]:checked:before {
			// 	color: $magenta;
			// }
		}
		a {
			&.grav-inline {
				@include transition(all .3s ease-in-out);
				height: 16px;
				width: 16px;
			    display: inline-block;
			    background: white;
			    border-radius: 50%;
			    padding: 0;
			    text-align: center;
			    font-weight: bold;
			    line-height: 16px;
			    top: -7px;
			    position: relative;
			    font-size: .675rem;
			    font-weight: bold;
			    border: 1px solid $gray-light;
			    margin-left: 3px;
			    color: $gray-light;
			    &:hover {
			    	@include transform(scale(1.1,1.1));
			    	border-color: $magenta;
			    	color: $magenta;
			    }
			}
			text-decoration: none;
		}
		&.grav-blocks {
			margin: 0;
			h1 {
				background-color: $magenta;
				color: $white;
				padding: 16px 20px;
				text-transform: uppercase;
			    font-weight: 700;
			    font-size: 23px;
			    font-family: $source-sans;
				img {
					max-width: 96px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 5px;
				}
				+ h4 {
					margin-left: 20px;
				}
			}
			header {
				margin: 0 0 0 -20px;
			}
			.description {
				margin-top: .5rem;
				clear: both;
				float: left;
			}
			th {
				padding-top: .75rem;
				label {
					cursor: default;
				}
			}
			tr:not([class^="grav-plugin-settings-blocks_enabled_"]) {
				label {
					display: inline-block;
				    float: left;
				    clear: both;
					+ .description {
						margin-top: .5rem;
						display: block;
						float: left;
						clear: both;
					}
				}
			}
		}
	}
	.extra-info {
		font-size: .7rem;
    	font-style: italic;
	}
}
.settings_page_gravitate_blocks tr[class^="grav-plugin-settings-blocks_enabled_"] {
 	td {
		max-width: 780px;
		display: block;
		.settings-field-wrapper{
			@include display-flex(flex);
			@include flex-direction(row);
			@include justify-content(space-between);
			@include align-content(space-between);
			@include flex-wrap(wrap);
		}
		.grav-option-wrapper {
			display: block;
			margin-bottom: .5rem;
			width: 100%;
			min-height: 25px;
			@include media-min($wp-media-query){
				width: 33.3333%;
			}
		}
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
}
.gravitate-redirects-page-links {
	border-bottom: 2px solid $magenta;
	padding-bottom: 1px;
	a {
		@include transition(all .3s ease-in-out);
		font-family: $source-sans;
		letter-spacing: .025rem;
		display: inline-block;
		padding: .5rem 1rem;
		color: $white;
		background: $gray-light;
		text-decoration: none;
		font-weight: 700;
		position: relative;
		&:hover,
		&.active {
			background: $magenta;
		}
		&:focus {
			box-shadow: 0 0 0 1px $magenta,0 0 2px 1px rgba($magenta,.8);
		}
		&.active {
			&:after {
				content: '';
				display: block;
				width: 100%;
				position: absolute;
				height: 1px;
				left: 0;
				background: $magenta;
				bottom: -1px;
			}
		}
	}
}
.grav-blocks-developers {
	a {
		text-decoration: none;
	}
	h3 {
		font-weight: 700;
    	font-family: $source-sans;
    	font-size: 1.3rem;
    	color: rgba($gray-dark, .7);
	}
	.grav-code-block {
		display: inline-block;
		background-color: rgb(233, 233, 233);
		color: rgb(111, 111, 111);
		border: 1px dashed #d61b51;
		padding: 4px;
		margin: .25rem 0;
		cursor: text;
	}
	textarea.grav-code-block {
		width: 100%;
		max-width: 600px;
		height: 160px;
		padding: 10px;
	}
	blockquote {
		margin: 1rem 0 0 0;
		label {
			display: block;
			margin-right: 4px;
		}
	}
	ul {
		margin-left: 20px;
		li {
			list-style: disc;
		}
	}
}
.grav-plugin-settings-form {
	.grav-plugin-settings-background_colors {
		> td {
			padding: 0;
		}
		.repeater-table {
			border-top: 1px solid $gray-lighter;
		}
		.form-table {
			width: 95%;
			tbody {
				display: table;
				width: 100%;
			}
		}
		.repeater-table tbody {
			border: 0;
		}
		.repeater-item {
			border: 0;
			border-left: 4px solid $magenta;
			background-color: $gray-lightest;
			border-bottom: 1px solid $gray-lighter;
			td {
				border: 0;
				background-color: transparent;
			}
		}
	}
}
.grav-plugin-settings-advanced_options,
.grav-plugin-settings-css_options {
	&.grav-plugin-settings-type-checkbox {
		td label {
		    margin-bottom: .5rem;
		}
	}
}
.form-table {
	@include media-max($wp-media-query){
		th {
			padding-bottom: .5rem;
			overflow: hidden;
		}
	}
}
.grav-plugin-settings-type-repeater {
	@include media-max($wp-media-query){
		.repeater-table tr.repeater-item {
			border-left: 0;
		}
		td {
			padding: .5rem 1rem;
		}
	}
}